<div class="row">
	<!-- Default panel contents -->
	<!-- 		<div class="row"> -->
	<div class="col-md-2">
		<h4>{{description}}</h4>
	</div>
	<div class="col-md-2 offset-3">
		<input placeholder="Filtrar ..." ng-model="query">
	</div>
	<div class="col-md-1 pull-right">
		<button class="btn btn-default" ng-click="loadData()" type="submit">Consultar</button>
	</div>
	<!-- 		</div> -->

	<div class="col-md-12 center-block">
		<!-- Table -->
		<table class="table table-bordered ">
			<thead>
				<tr>
					<th>#</th>
					<th>Descripcion</th>
					<th>Importe</th>
					<th>Vigencia</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in codigos | filter:query | orderBy:orderProp">
					<th scope="row">{{$index + 1}}</th>
					<td>{{item.descripcion}}</td>
					<td>{{item.valor | currency: '$' : 2}}</td>
					<td>Desde {{item.fechaInicio | date: 'dd-MM-yyyy'}} hasta
						{{item.fechaFin | date: 'dd-MM-yyyy'}}</td>
					<td>
						<button class="btn btn-default" ng-click="showDetail(item)">
							<i class="glyphicon-search"></i>
						</button>
						<button class="btn btn-default" ng-click="showDetail(item)">
							<i class="glyphicon-pencil"></i>
						</button>
						<button class="btn btn-default" ng-click="showDetail(item)">
							<i class="glyphicon-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>